{% extends "base.html" %}

{% block title %}Code Editor{% endblock %}

{% block content %}
{% load static %}
    <script src="{% static 'js/editor.js' %}"></script>
<div id="editor" style="width:800px;height:600px;border:1px solid #ccc;"></div>
<form id="codeForm" method="post" action="{% url 'code_editor' %}">
    {% csrf_token %}
    <input type="hidden" id="code" name="code">
    <button type="submit">Submit</button>
    <select name="language" id="language">
        <option value="python">Python</option>
        <option value="java">Java</option>
    </select>
</form>
<div aria-placeholder="centre">

<!-- <textarea id="console" type="hidden" ></textarea> -->
<textarea id="console_area" readonly>{{output}}</textarea>
</div>
{% endblock %}
